<h1><%= @item.name %></h1>
<p><%= @item.model %></p>
<p><%= @item.reviews %></p>
<p><%= @item.price %></p>
<% if @item.image.attached? %>
  <image src="<%=(url_for(@item.image)) %>", class= "style_image">
<% end %>

<%= link_to "<< Back to Items List", items_path %>
